DEBUG=True
APP_NAME=Fantasy Boulzazen
APP_VERSION=1.0.0

SUPABASE_URL=https://ktyxnqqwwrpxvawkhjyi.supabase.co/rest/v1/
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0eXhucXF3d3JweHZhd2toanlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NTM4OTgsImV4cCI6MjA5NjMyOTg5OH0.JxaRxPO9oG6jlIQ-_uPE-_mNUdCUmrB50Aw16frWt6g
SUPABASE_JWT_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0eXhucXF3d3JweHZhd2toanlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA3NTM4OTgsImV4cCI6MjA5NjMyOTg5OH0.JxaRxPO9oG6jlIQ-_uPE-_mNUdCUmrB50Aw16frWt6g

GROQ_API_KEY=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
GEMINI_API_KEY=AQ.Ab8RN6IdAE66rUZx_LTtHmRSuL5UECwZrdbZgUAji_XfbYJc8g

REDIS_URL=redis://localhost:6379
SCRAPER_TIMEOUT=30
